h1 {
    color: red;
}
h2 {
    color: navy;
}
h4 small {
    display: block;
    font-size: 60%;
    color: #888;
}

#content, footer.container {
    max-width: 900px;
}

footer.container {
    border-top: 1px dashed #aaa;
}

#mainNavbar {
    margin-bottom: 2em;
}

.navbar-dark {
    background: #222;
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

td[scope=row] {
    min-width: 150px;
}

pre {
    background: #efefef;
    padding: .5em 1.5em;
}
